@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {text-align: left;
	background-color: white;
	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
	}

header {
	/*border: 1px black solid;*/
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: red;
	text-align: center;
/*	border: 1px black solid;*/
}

article {
/*	padding: 20px;*/
}

section {
/*	padding: 40px;*/
/*	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 40px;*/
/*	border: 1px black solid;*/
}

div {
/*	border: 1px black solid;*/
}

h1 {color: red;
	font-size: 60px;
	line-height: 1.5em;
	}

h2 {color: red;
	font-size: 30px;
	line-height: 1.5em;
}

h3 {color: #282828;
	font-size: 20px;
	line-height: 1.5em;
}

p {color: #282828;
	font-size: 14px;
	line-height: 1.5em;
	}

a {color: white;
	font-size: 20px;
}

#h2-white {
	color: white;
	font-size: 30px;
}

#title-centre {
	text-align: center;
}

#hero-image {
	background-image: url(../images/hero-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 365px;
}

#menu {
	position: absolute;
	top: 10px;
	right: 10px;
 	margin: 20px;
 	width: auto;
}

#topnav {
    position: absolute;
    margin-top: 0;
    top: 0;
    z-index: 100;
    padding: 30px;
    right: 0;
}

#topnav a {
 	color: white;
 	text-align: center;
 	padding: 14px 30px;
 	text-decoration: none;
 	font-size: 18px;
}

#topnav a:hover {
 	color: red;
}

#slogan {
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 25px;
	color: white;
	line-height: 1.5em;
}

#banner-image-1 {
	background-image: url(../images/lamborghini-aventador-sv_edit.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 7em;
	text-align: center;
}

#banner-image-2 {
	background-image: url(../images/edits/zonda-banner-red.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 200px;
	padding-bottom: 200px;
	height: 100%;
	text-align: center;
}

#banner-heading {
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5)
}

#left-image {
	float: left;
}

#small-paragraph {
	width: 50%;
	margin: 0 auto;
}

#half-text {
	float: left;
	width: 50%;
	padding: 50px;
}

.background-grey {
	background-color: #f1f1f1;
}

.button {
	border-radius: 10px;
	background-color: white;
	color: red;
	padding: 20px 37px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.button:hover {
	background-color: darkgoldenrod;
	color: white;
	padding: 20px 37px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.wrapper {
	padding: 30px 20px;
}

.whats-on-article {
	width: 33.33%;
	float: left;
	vertical-align: top;
    min-height: 177px;
    padding: 20px;
}

.supercar-article {
	width: 33.33%;
	float: left;
	vertical-align: top;
	padding: 10px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
