@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {text-align: left;
	background-color: white;
	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
	}

header {border: 1px black solid;
	background-color: #ffed74;
}

article {
	padding: 20px;
	border: 1px black solid;
	background-color: #e89c6c;
}

aside {
	padding: 20px;
	border: 1px black solid;
	background-color: #ffc675;
}

footer {
	padding: 20px;
	border: 1px black solid;
	background-color: #ff957e;
}

section {
	padding: 20px;
	border: 1px black solid;
	background-color: #FFE2B8
}

div {
	border: 1px black solid;
	background-color: #FFE2B8;
}

h1 {color: red;
	font-size: 60px;
	line-height: 1.5em;
	}

h2 {color: red;
	font-size: 30px;
	line-height: 1.5em;
}

h3 {color: #282828;
	font-size: 20px;
	line-height: 1.5em;
}

p {color: #282828;
	font-size: 14px;
	line-height: 1.5em;
	}

#hero-image {
	background-image: url(../images/hero-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 365px;
}

#menu {
	position: absolute;
	top: 10px;
	right: 10px;
 	margin: 20px;
 	width: auto;
}

#topnav {
    position: absolute;
    width: 100%;
    margin-top: 0;
    top: 0;
    z-index: 100;
    padding: 20px;
}

#topnav a {
 	color: white;
 	text-align: center;
 	padding: 14px 30px;
 	text-decoration: none;
 	font-size: 18px;
}

#topnav a:hover {
 	color: red;
}

#slogan {
	font-size: 20px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 25px;
	color: white;
	line-height: 1.5em;
}

#banner-image-1 {
	background-image: url(../images/lamborghini-aventador-sv_edit.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 70px;
}

#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
/*	display: inline-block;*/
	font-size: 16px;
}

.button:hover {
	background-color: white;
/*	border: 3px solid white;
	border-radius: 10px;*/
	color: red;
	padding: 15px 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
/*	display: inline-block;*/
	font-size: 16px;
}

.articles-wrapper {
	position: relative;
}

.whats-on-article {
	width: 33%;
    display: inline-block;
	vertical-align: top;
    min-height: 137px;
    padding: 20px;
}

.supercar-article {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}