@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {text-align: left;
	background-color: white;
	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
	}

footer {
	padding: 2em;
	background-color: red;
	text-align: center;
}

h1 {color: red;
	font-size: 4em;
	line-height: 1.5em;
	}

h2 {color: red;
	font-size: 2em;
	line-height: 1.5em;
}

h3 {color: #282828;
	font-size: 1.4em;
	line-height: 1.5em;
}

p {color: #282828;
	font-size: 0.9em;
	line-height: 1.5em;
	}

a {color: white;
	font-size: 1.4em;
}

#h2-white {
	color: white;
	font-size: 2em;
}

#title-centre {
	text-align: center;
}

#hero-image {
	background-image: url(../images/hero-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 22em;
}

#menu {
	position: absolute;
	top: 1em;
	right: 1em;
 	margin: 2em;
 	width: auto;
}

#topnav {
    position: absolute;
    margin-top: 0;
    top: 0;
    z-index: 100;
    padding: 2.5em;
    right: 0;
}

#topnav a {
 	color: white;
 	text-align: center;
 	padding: 1.4em 1.4em;
 	text-decoration: none;
 	font-size: 1.2em;
}

#topnav a:hover {
 	color: red;
}

#slogan {
	font-size: 1.2em;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 2em;
	color: white;
	line-height: 1.5em;
}

#banner-image-1 {
	background-image: url(../images/lamborghini-aventador-sv_edit.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 7em;
	text-align: center;
}

#banner-image-2 {
	background-image: url(../images/edits/zonda-banner-red.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 10em 1em 10em 1em;
	height: 100%;
	text-align: center;
}

#banner-heading {
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5)
}

#left-image {
	float: left;
}

#small-paragraph {
	width: 50%;
	margin: 0 auto;
}

#half-text {
	float: left;
	width: 50%;
	padding: 3em;
}

.background-grey {
	background-color: #f1f1f1;
}

.button {
	border-radius: 1em;
	background-color: white;
	color: red;
	padding: 1.2em 2.3em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}

.button:hover {
	background-color: darkgoldenrod;
	color: white;
	padding: 1.2em 2.3em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}

.wrapper {
	padding: 3em 1em;
}

.whats-on-article {
	width: 33.33%;
	float: left;
	vertical-align: top;
    min-height: 177px;
    padding: 1.2em;
}

.supercar-article {
	width: 33.33%;
	float: left;
	vertical-align: top;
	padding: 1em;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

@media only screen and (max-width: 1395px) {

	#left-image {
		float: none;
		width: 50%;	
	}

	#half-text {
		float: none;
		width: 100%;
	}

	.whats-on-article {
		width: 50%;
		float: left;
		min-height: 230px;
	}

	.wrapper {
		padding: 2em;
	}
}

@media only screen and (max-width: 900px) {

	.supercar-article {
		float: none;
		width: 100%;
	}

}

@media only screen and (max-width: 850px) {

	#small-paragraph {
		width: 100%;
	}

}

@media only screen and (max-width: 700px) {

	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1em;
	}

	#hero-image {
		padding: 10em;
	}

	#half-text {
		float: none;
		width: 100%;
	}

	#left-image {
		float: none;
		width: 100%;
	}

	.whats-on-article {
		width: 100%;
		float: none;
	}

}
