@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {text-align: center;
	background-color: white;
	font-family: 'Questrial', sans-serif;
	line-height: 1.5em;
	}

h1 {color: red;
	font-size: 60px;
	line-height: 1.5em;
	margin-bottom: 20px;
	}

h2 {color: red;
	font-size: 30px;
	line-height: 1.5em;
}

h3 {color: #282828;
	font-size: 20px
	line-height: 1.5em;
}

p {color: #282828;
	font-size: 14px;
	line-height: 1.5em;
	}

#hero-image {
	background-image: url(../images/hero-image.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 365px;
}

#menu {
	position: absolute;
	top: 10px;
	right: 10px;
 	margin: 20px;
 	width: auto;
}

#topnav {
	overflow: hidden;
 	background-color: none;
}

#topnav a {
	float: left;
 	color: white;
 	text-align: center;
 	padding: 14px 30px;
 	text-decoration: none;
 	font-size: 18px;
}

#topnav a:hover {
 	color: red;
}

#slogan {
	position: absolute;
	bottom: 25px;
	color: white;
	font-size: 20px
	line-height: 1.5em;
}

#banner-image-1 {
	background-image: url(../images/lamborghini-aventador-sv_edit.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	padding: 70px;
}

/*.list_1 {
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	padding: 0px;
	padding-bottom: 30px;
}*/

.button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
/*	display: inline-block;*/
	font-size: 16px;
}

.button:hover {
	background-color: white;
	border: 3px solid white;
	border-radius: 10px;
	color: red;
	padding: 15px 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
/*	display: inline-block;*/
	font-size: 16px;
}
